*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkblue;
}
#main{
    width: 1000px;
    height: 1000px;
    background-color: red(183, 29, 29);
    display: flex;

   
}
#mian2{
    width: 1000px;
    height: 1000px;
    background-color: red(183, 29, 29);
    display: flex;
}